 <div class="container">
     <div class="row">
         <div class="col-md-6 mr-auto ml-auto">
            <div class="login_register_wrap">
                <div class="col-md-12">
                <div class="login_register">
                    <div class="login_register_form">
                        <a href="/ui/" class="page-view"><img class="login_register_logo" src="/static/assets/images/logo.png" alt=""></a>
                        <h3>Create new password</h3>

                        <% if (locals.validation) { %>
                            <div class="mt-4 pt-4">
                            <% validation.map(message => { %>
                                <p class="alert alert-danger text-center"><%=message%></p>
                                <p class="pt-4 text-center"><a class="btn btn-outline-primary" href="/ui/#/auth/forget/password">Resend Mail</a></p>
                            <% }) %>
                            </div>
                        <% } %>

                        <% if(locals.isValid){ %>
                        <div id="form-part-1">
                            <form id="set-new-password">
                                <p class="display-6">Hi, <%=data.firstName%> <%=data.lastName%></p>
                                <p>Forgot you password? Don't worry here you can set your new password for the account <strong><%=data.email%></strong>.</p>
                                <div class="form-group">
                                    <label for="npassword">New Password</label>
                                    <input type="password" name="npassword" id="npassword" class="form-control" autocomplete="off"/>
                                </div>
                                <div class="form-group">
                                    <label for="cpassword">Confirm Password</label>
                                    <input type="password" name="cpassword" id="cpassword" class="form-control"  autocomplete="off"/>
                                </div>
                                <input type="hidden" name="_csrf" id="_csrf" value="<%=locals.data._csrf%>"/>
                                <input type="hidden" name="token" id="token" value="<%=locals.data.token%>"/>
                                <input type="hidden" name="serial" id="serial" value="<%=locals.data.serial%>"/>
                                <button type="button" class="btn btn-block maincta-btn mt-4" id="submit-reset-password">Update </button>
                            </form>
                        </div>
                        <div id="form-part-2" class="mt-4" style="display: none;">
                            <p class="alert alert-success text-center">You account password has been updated successfully.</p>
                        </div>
                        <% } %>
                    </div>
                    <div class="donthavacc">
                        <p>Already have an account? <a href="/ui/#/auth/login">login</a></p>
                      </div>
                </div>
                </div>
            </div>
         </div>
     </div>
 </div>